<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Fav Icon -->
<link rel="Shortcut Icon" href="~/Content/themes/mws/images/favicon.png" type="image/x-png">	

<!-- Apple iOS and Android stuff (do not remove) -->
<meta name="apple-mobile-web-app-capable" content="no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />

<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1" />

<!-- Required Stylesheets -->
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/mws/css/reset.css")"  media="screen" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/mws/css/text.css")" media="screen" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/mws/css/fonts/ptsans/stylesheet.css")" media="screen" />

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/mws/css/core/form.css")" media="screen" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/mws/css/core/login.css")" media="screen" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/mws/css/core/button.css")" media="screen" />

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/mws/css/mws.theme.css")" media="screen" />

<!-- JavaScript Plugins -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.placeholder.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-effects.min.js")"></script>



<!-- Plugin Scripts -->
<script type="text/javascript" src="@Url.Content("~/Scripts/plugins/validate/jquery.validate-min.js")"></script>




<title>Running Trade Admin - Login Page</title>

</head>
    <body>
     
        @RenderBody()
    
    </body>
</html>
